@import "tailwindcss";

.container{
    width: 100%;
    max-width: 1370px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}


@keyframes move {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
